main {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: inline-block;
}

main div {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: var(--color-1);
    border-radius: 7px;
    margin: 5px 0 5px 0;
}

main div div {
    width: 100%;
    display: flex;
    justify-content: center;
}

main p {
    padding: 6px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
}


main p:active {
    color: white;
}