main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

main div {
    width: 400px;
    height: auto;
    text-align: center;
}

br {
    background-color: black;
}