:root {
    --color-1: #17f9ff;
    --color-2: #00b4fc;
    --color-3: #005bc5;
    --color-4: #012677;
    --color-5: #001449;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 600px;
    border: 1px solid var(--color-5);
    margin: 0 auto;
}

body {
    background-color: var(--color-2);
    font: arial;
    font-size: 16pt;
}

fieldset {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
}

fieldset input[type="button"] {
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: var(--color-3);
    color: whitesmoke;
}

fieldset p {
    margin: 0 0 5px 15px;
    color: var(--color-5);
    font-weight: 400;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

label {
    display: block;
    padding: 10px 30px 10px 30px;
}

label input {
    border-radius: 2px;
    border: none;
    width: 100%;
    padding: 4px;
    font-size: 18px;
}

label textarea {
    width: 100%;
}

textarea {
    height: 100px;
    border: none;
    font-size: 16px;
    padding: 4px;
    border-radius: 3px;
}