main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

main div {
    width: 400px;
    height: auto;
    text-align: center;
}

main input[type="checkbox"] {
    
}

main div div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.separador {
    width: 80%;
    border: 1px solid #00134938;
    margin: 5px;
}